flask
openai
python-dotenv
paramiko
gunicorn
pdfplumber
annotated-types
anyio
blinker
certifi
cffi
chardet
charset-normalizer
click
cryptography
distro
exceptiongroup
Flask
Flask-Cors
h11
httpcore
httpx
idna
importlib_metadata
itsdangerous
Jinja2
jiter
lxml
MarkupSafe
openai
pdfminer.six
pdfplumber
pillow
pip
pycparser
pydantic
pydantic_core
pydub
PyPDF2
pypdfium2
python-docx
python-dotenv
setuptools
sniffio
tqdm
typing_extensions
Werkzeug
wheel
zipp
